<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>clsName</key>
		<string>WTHomeViewController</string>
		<key>imageName</key>
		<string>home</string>
		<key>title</key>
		<string>首页</string>
		<key>visitorViewInfo</key>
		<dict>
			<key>houseImageName</key>
			<string></string>
			<key>tips</key>
			<string>关注一些人，看到一些事，在这里分享！关注一些人，看到一些事，在这里分享！</string>
		</dict>
	</dict>
	<dict>
		<key>clsName</key>
		<string>WTMessageViewController</string>
		<key>imageName</key>
		<string>message_center</string>
		<key>title</key>
		<string>消息</string>
		<key>visitorViewInfo</key>
		<dict>
			<key>houseImageName</key>
			<string>message</string>
			<key>tips</key>
			<string>关注一些人，看到一些事，在这里分享！</string>
		</dict>
	</dict>
	<dict>
		<key>clsName</key>
		<string>composeViewController</string>
	</dict>
	<dict>
		<key>clsName</key>
		<string>WTDiscoverViewController</string>
		<key>imageName</key>
		<string>discover</string>
		<key>title</key>
		<string>发现</string>
		<key>visitorViewInfo</key>
		<dict>
			<key>houseImageName</key>
			<string>message</string>
			<key>tips</key>
			<string>沟通消息，在这里开始</string>
		</dict>
	</dict>
	<dict>
		<key>clsName</key>
		<string>WTProfileViewController</string>
		<key>imageName</key>
		<string>profile</string>
		<key>title</key>
		<string>我</string>
		<key>visitorViewInfo</key>
		<dict>
			<key>houseImageName</key>
			<string>profile</string>
			<key>tips</key>
			<string>发现我自己！</string>
		</dict>
	</dict>
</array>
</plist>
